<div class="add-board-menu hide">
    <p class="title">Create</p>
    <%= image_tag 'times.svg', class:"close-board-menu" %>
    <div class="add-board">
    <h3 class="create-board">Create Board...</h3>
    <p class="description">A board is made up of cards ordered on lists. User it to manage projects, track information, or organize anything.</p>
    </div>
</div>