<%= form_for(@new_board, :html => {class:"board-form hide"}) do |f| %>
    <div class="field">
        <%= f.text_field :name, class:"input", placeholder: "Add board title", required: true, autofocus:true %>
    </div>
    <%= f.submit 'Create Board', class:"submit" %>
<% end %>
